/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */


body {
     font-family: roboto;
 }

.post-1 {
    background: #9d27b0;
}

.post-2 {
    background: #9bb800;
}

.post-3 {
    background: #ed5120;
}

.post-4 {
    background: #9d27b0;
}

.post-5 {
    background: #2d95bb;
}

/* Your styles go here */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #0b192f;
}

@media screen and (min-width: 1400px) {
    body {
        max-width: 1400px;
        margin: 0 auto;
    }

    .header {
        max-width: 1400px;
        display: grid;
        grid-template-columns: auto auto;
        background-color: #024161;
    }

    .header_text {
        font-size: 2.4em;
        color: #fff;
        font-weight: 100;
        letter-spacing: -2px;
        word-spacing: -8px;
        margin: auto 20px;
    }

    .header_text_b {
        color: deeppink;
    }

    .header_list {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        justify-content: end;
        margin: 0 50px;
    }

    .header_item {
        text-decoration: none;
        color: #fff;
        padding: 30px;
    }

    .header_item:hover {
        background-color: #1f52a4;
    }

    .story_wrap {
        width: 1400px;
        display: grid;
        grid-gap: 15px;
        margin: 15px 0;
        background: url("../img/post0.jpg") no-repeat center;
        background-size: cover;
        height: 474px;
        align-items: end;
        color: #fff;
    }

    .story_header {
        padding: 0 30px;
        font-size: 3em;
        font-weight: 100;
    }

    .story_content {
        padding: 40px 30px;
        width: 65%;
        font-weight: 100;
        font-size: 0.9em;
    }

    .blog-wrap {
        display: grid;
        grid-template-columns: 4fr 1fr;
        align-items: start;
        grid-gap: 15px;
    }

    .post {
        display: grid;
        grid-template-columns: 2fr 2fr;

    }

    .post:nth-child(even) {
        direction: rtl;
    }

    .post-img {
        height: 360px;
        width: 100%;
    }

    .post-header, .post-text {
        color: #fff;
    }

    .post-content {
        display: grid;
        grid-template-columns: 6fr 1fr;
    }

    .post-date-5 {
        color: #fff;
        font-weight: 100;
        opacity: 0.4;
        vertical-align: top;
        display: grid;
        grid-template-rows: 2fr 1fr;
    }

    .post-content-5 {
        display: grid;
        grid-template-columns: 9fr 1fr;
    }

    .date-day {
        font-size: 4em;
        font-weight: 100;
    }

    .date-month {
        font-size: 2em;
    }

    .post-date {
        color: #fff;
        font-weight: 100;
        opacity: 0.5;
        vertical-align: top;
    }

    .post-description {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        margin: auto;
        padding: 0 30px;
    }

    .post-header {
        font-size: 3.4em;
        font-weight: 100;
    }

    .post-text {
        line-height: 1.5em;
        opacity: 0.7;
    }

    .post-img, .post-description:hover {
        cursor: pointer;
        opacity: .6;
    }


    .news-wrap {
        background-color: #fff;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 2em;

    }

    .news-img {
        width: 100%;
    }

    .news-header {
        background-color: #fff;
        margin: 10px 30px;
        font-size: 1.7em;
        font-weight: inherit;
    }

    .news-text {
        background-color: #fff;
        margin: 10px 30px;
        opacity: 0.9;
    }

    footer {

        padding: 10px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        background-color: #024161;
        margin-top: 20px;
    }

    .footer-text-left, .footer-text-right {
        padding: 20px 20px;
        font-size: 0.8em;
        line-height: 1.5em;
        color: #fff;
        font-weight: 200;
        opacity: 0.4;
    }

    .footer-text-left {
        display: grid;
    }
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
        margin: 0 auto;
    }
}
