* {
  margin: 0;
  padding: 0; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 78vh; }
  .header .header-wrap .landing-logo {
    padding: 20px 160px;
    display: flex; }
    .header .header-wrap .landing-logo img {
      height: 30px;
      width: 30px; }
    .header .header-wrap .landing-logo p {
      margin: 0 20px;
      font-family: "Source Sans Pro", sans-serif;
      display: flex;
      flex-direction: column;
      font-size: 22px;
      font-weight: bold; }
      .header .header-wrap .landing-logo p span {
        font-size: 12px; }
  .header .header-wrap .header_heading {
    padding: 25px 160px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 3.6em;
    font-weight: bold;
    width: 30%;
    line-height: 1.1em; }
  .header .header-wrap .header_text {
    padding: 20px 160px;
    width: 35%; }
  .header .header-wrap div {
    padding: 40px 160px; }
    .header .header-wrap div button {
      border-radius: 5px;
      background-color: #699900;
      border: 1px solid #699900;
      color: white;
      font-size: 13px;
      font-weight: bold;
      padding: 10px 32px; }
    .header .header-wrap div a {
      color: white;
      margin-left: 122px;
      font-size: 17px; }

.section {
  width: 60%;
  margin: 0 auto;
  text-align: center; }
  .section .section_card {
    display: flex;
    background-color: #21232E;
    margin: 10px 10px;
    padding: 20px 20px; }
