* {
  margin: 0;
  padding: 0; }

body {
  background: #ffffff; }

.header {
  font-family: "Source Sans Pro", sans-serif;
  color: #2c2f3c;
  height: 75vh;
  background-image: url("../img/m-h-day.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 40% 0; }
  .header .header-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .header .header-wrap .landing-logo {
      margin: 20px 0;
      display: flex; }
      .header .header-wrap .landing-logo img {
        margin: auto 0; }
      .header .header-wrap .landing-logo p {
        font-family: "Hind", sans-serif;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        font-size: 22px;
        font-weight: bold; }
        .header .header-wrap .landing-logo p span {
          font-family: "Hind", sans-serif;
          font-size: 12px;
          text-align: center; }
    .header .header-wrap .header_heading {
      margin: 50px 0;
      font-size: 4em;
      font-weight: bold;
      width: 30%;
      line-height: 1.1em; }
    .header .header-wrap .header_heading::selection {
      background: #14a0c7; }
    .header .header-wrap .header_text {
      font-family: "Hind", sans-serif;
      margin: 10px 0;
      width: 35%; }
    .header .header-wrap div {
      margin: 60px 0; }
      .header .header-wrap div button {
        margin: auto 0;
        border-radius: 5px;
        background-color: #699900;
        border: 1px solid #699900;
        color: #eef0ef;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 40px; }
      .header .header-wrap div a {
        color: #ffffff;
        margin-left: 150px;
        font-size: 20px; }

.section {
  position: relative;
  width: 70%;
  margin: 0 auto;
  text-align: center; }
  .section .section_text {
    font-size: 2.6em;
    font-weight: bold;
    margin: 40px 0;
    color: #2c2f3c;
    font-family: "Hind", sans-serif; }
  .section .section_text::selection {
    background: #14a0c7; }
  .section .section_card_wrap {
    margin: 0 auto 100px auto;
    width: 90%; }
    .section .section_card_wrap .section_card {
      display: flex;
      justify-content: space-between;
      background-color: #21232E;
      padding: 20px 20px;
      margin-bottom: 20px;
      border-radius: 5px; }
      .section .section_card_wrap .section_card img {
        width: 100%;
        height: 280px;
        border-radius: 5px; }
      .section .section_card_wrap .section_card .section_card_right_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 100px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          color: #ffffff;
          font-size: 24px;
          font-family: "Hind", sans-serif;
          font-weight: bold; }
        .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          font-family: "Hind", sans-serif;
          color: #b6c0ce;
          text-align: justify;
          margin: 30px 0;
          line-height: 32px; }
        .section .section_card_wrap .section_card .section_card_right_container .section_link {
          font-family: "Hind", sans-serif;
          color: #b6c0ce; }
  .section .section_banner {
    padding: 20px 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    max-width: 100%;
    border-radius: 5px;
    background: linear-gradient(0.25turn, #699900, #2b59dd); }
    .section .section_banner .section_banner_text_wrap {
      text-align: left; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        font-family: "Hind", sans-serif;
        font-size: 1.8em;
        color: #2c2f3c;
        font-weight: bold; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading::selection {
        background: #14a0c7; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        margin-top: 20px;
        font-family: "Hind", sans-serif;
        color: #b6c0ce;
        font-size: 0.8em; }
    .section .section_banner .section_banner_button {
      margin: auto 0;
      border-radius: 5px;
      background-color: #699900;
      border: 1px solid #699900;
      color: #eef0ef;
      font-size: 16px;
      font-weight: bold;
      padding: 15px 40px; }

.footer {
  color: #b6c0ce;
  margin-top: -50px;
  background-color: #21232E; }
  .footer .footer-wrap {
    padding: 100px 0 50px 0;
    display: flex; }
    .footer .footer-wrap .footer_logo {
      margin: auto;
      display: flex; }
      .footer .footer-wrap .footer_logo img {
        margin: auto; }
      .footer .footer-wrap .footer_logo p {
        font-family: "Hind", sans-serif;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        margin: auto 10px;
        font-weight: bold; }
        .footer .footer-wrap .footer_logo p span {
          font-family: "Hind", sans-serif;
          font-size: small;
          font-weight: 100;
          text-align: center; }
    .footer .footer-wrap .footer_text {
      font-family: "Hind", sans-serif;
      margin: auto;
      width: 15%;
      font-size: small; }
    .footer .footer-wrap .footer-cr {
      font-family: "Hind", sans-serif;
      margin: auto;
      font-size: small; }
