$fontStyleHeader: 'Source Sans Pro', sans-serif;
$fontStyleMain: 'Hind', sans-serif;
$fontStyleSectionCardText: 'Fresca', sans-serif;
$fontStyleLogo: 'Fresca', sans-serif;
$fontStyleHeaderText: 'Fresca', sans-serif;
$fontStyleSectionText: 'Hind', sans-serif;
$fontStyleSectionLink: 'Fresca', sans-serif;
$fontStyleBannerHeaderText: 'Hind', sans-serif;
$fontStyleBannerText: 'Fresca', sans-serif;
$fontStyleFooter: 'Fresca', sans-serif;

$headerBackground: url("../img/m-h-night.jpg");
$buttonBackground: #e3ac00;
$buttonTextColor:#eef0ef;
$colorTextLink:#ffffff;
$cardBackground: #3b3f50;
$colorMark: #14a0c7;
$mainTextColor: #ffffff;
$sectionHeaderTextColor: #f0f3f7;
$sectionCardHeadingTextColor: #ffffff;
$cardTextColor: #d1d1d1;
$bannerTextColor: #d1d1d1;
$markColor: #ff4e33;

$firstGradientColor: #da9f08;
$secondGradientColor: #932e51;

$page-colours: (
        darkgrey: #21232e
);

@each $page-colour, $colour in $page-colours {
  body {
    background-color: $colour;
  }
}

@mixin backgroundStyle {
  background-image: $headerBackground;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 40% 0;
}

@mixin buttonStyle {
  margin: auto 0;
  border-radius: 5px;
  background-color: $buttonBackground;
  border: 1px solid $buttonBackground;
  color: $buttonTextColor;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 40px;
}

@mixin linkStyleHeader {
  color: $colorTextLink;
}

@mixin linkStyleCard {
  color: $cardTextColor;
}